body {
  min-height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  background-image: url(../img/bmw/background_ix2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 100vh;
}

.header {
  height: 10vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  padding-left: 3rem;
  padding-right: 3rem;
  a {
    text-decoration: none;
    color: white;
    border: 2px solid aquamarine;
    border-radius: 0.5rem;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  h1 {
    margin: 0;
    color: #ffff;
  }
  button {
    background-color: rgba(0, 34, 77, 0.8);
    border: none;
    border-radius: 0.5rem;
    p {
      color: #ffff;
      font-weight: bold;
    }
  }
}

.title {
  width: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 0 1rem 2rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.information {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  position: absolute;
  bottom: 0%;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  h3,
  p {
    margin: 0;
  }
}
